<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <style>
      a.username {
          font-weight: bold;
          width: 200px;
        }
     </style>
    <% if (user !== undefined) { %>
      <a class="username">
        <p>Logged in as: <%= user.email %></p>
      </a>
      <div class="display-Logout">
          <div class="Logout">
            <form method="POST" action='/logout'><button id="logoutButton" class="btn btn-secondary" >Log Out</button></form>
          </div>
      </div>
      <% }else { %>
        <div class="Login">
          <form class="login-link" action="/login" method="GET">
            <button id="Login" class="btn btn-primary">Login</button>
          </form>
          <form class="register-link" action="/register" method="GET">
            <button id="Register" class="btn btn-secondary">Register</button>
          </form>
        </div>
        <%}%>
          </nav>
      </header>