<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/_header') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
    <style>
     body {
    text-align: center;
    }
    label{
    display: inline-block;
    float: inline-start;
    width: 75px;
    }
    div.username-form
    {
    display: block;
    text-align: center;
    }
    </style>
</head>

<body>
  <main style="margin: 1em;">
    <div class="card text-center">
      <h3 class="card-title">Login</h3>
      <div class="username-form">
        <form class="inline-block" action="/login" method="POST">
          <label for="email">Email: </label>
          <input type="text" id="email" name="email">
          <br><label for="password">Password: </label>
          <input type="password" id="password" name="password">
          <br><button type="Login" class="btn btn-primary">Login</button>
      </div>
      </form>
    </div>
    <br><br>
    <p>New User? <a href="/register">Register Here</a></p>
    <div class="card-footer text-muted"></div>
  </main>
</body>
</html>